<div ng-include="'angular/views/userHeader.html'" ></div>
<div class="container">
<div class="dependentlist">
<div block-ui="main" class="block-ui-main">
	<div class="container"  >  
	
		<!-- List of dependent are shown here -->
		<div class="row" id="dependent_list" ng-show="dependentContainer">           
			<div class="col-md-12"> 
					 			
					
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a href="#userhome" class="btn btn-primary" style="margin-bottom: 10px;">Back</a>
					</td>
				</tr>
				<tr>
					<td>
					<table class="table table-bordered" >
						<thead>
							<tr class="table-heading">
								<th style="text-align:center">Dependent name</th>
								<th style="text-align:center">Proxy HostName</th>
								<th style="text-align:center">Proxy Port</th>
								<th style="text-align:center">Proxy service</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dependentList in dependentData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
							 
								<td><span title="click here to see all requests" ng-click="enableTab('requestActive',dependentList.cloud_name)" style="text-decoration: underline;cursor: pointer;">{{ dependentList.cloud_name }}</td>
								<td>{{ dependentList.hostname }}</td>
								<td>{{ dependentList.port }}</td>
								<td style="text-align:center"><input type="button" ng-click="show(dependentList)" class="btn btn-primary  " name="action" id="'action_'+$index" value="Start" ng-hide="dependentList.time_started" >
								<input ng-click="stopDependentService(dependentList,'/proxies/dependents')" class="btn btn-primary  " type="button"  name="stop" id="'stop_'+$index" value="Stop" ng-show="dependentList.time_started" >
								<input type="button" ng-click="activityMonitor(dependentList)" class="btn btn-primary  " name="action" id="'action_'+$index" value="Activity Monitor" >
								</td>
							</tr>
						</tbody>
					</table>
					</td>
					</tr>
					</table>
				
		 
				 
			</div>
		</div>	
		<!-- Requested list of dependent are shown here -->
		<div class="row" id="requested_List" ng-show="requestContainer">		         
			

			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a ng-click="initiateList()" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>&nbsp;&nbsp;
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary"  name="action" id="'action_'+$index" value="Add requested url" ng-show="requestActive" ng-disabled="true" >
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary"  name="action" id="'action_'+$index" value="Add allowed url" ng-show="allowedActive" >
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary" name="action" id="'action_'+$index" value="Add blocked url" ng-show="blockedActive" >
					</td>
				</tr>
				<tr>
					<td>
						<div class="bs-example">
							<ul class="nav nav-pills">
								<li   ng-class="{active: requestActive}"><a ng-click="enableTab('requestActive',user.selectedCloudName)">Requested Url</a></li>								
								<li ng-class="{active: allowedActive}"><a ng-click="enableTab('allowedActive',user.selectedCloudName)">Allowed Url</a></li>
								<li ng-class="{active: blockedActive}"><a ng-click="enableTab('blockedActive',user.selectedCloudName)">Blocked Url</a></li>
								 
							</ul>
					<div class="tab-content">
						<div id="sectionA" class="tab-pane fade" ng-class="{'in active': requestActive}">
							<table class="table table-bordered" >		
										<thead>
										<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
								<span ng-show="successReqContainer" style="color:white;" role="alert">{{successReqMessage}}</span></th></tr>
										<tr class="table-heading">
											<th>Requested url</th>
											<th>Requested date</th>
											<th>Action</th>								 
										</tr>
									</thead>
									<tbody>
										 
										<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
											
											<td>
												<span ng-if="requestList.url">{{ requestList.url }}</span>
												<span ng-if="requestList.host">{{ requestList.host }}</span>
											</td>
											<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
											<td><input class="btn btn-primary "   width="20%"  type="button" name="Allow" value="Allow" ng-click="allowBlockreqUrl('allowed',requestList.host)" >&nbsp;&nbsp;&nbsp;<input class="btn btn-primary " type="button" name="Block" value="Block" ng-click="allowBlockreqUrl('blocked',requestList.host)" ></td>
										</tr>
										<tr ng-if="requestData.length === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
									</tbody>
							</table>
						</div>
						
						<div id="sectionB" class="tab-pane fade" ng-class="{'in active': allowedActive}">						
							<table class="table table-bordered" >
									<thead>
										<tr class="table-heading" ng-show="errorMessageContainer || successMessageContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
								<span ng-show="successMessageContainer" style="color:white;" role="alert">{{successMessage}}</span></th></tr>
										<tr class="table-heading">
											<th>Allowed url</th>
											<th>Allowed date</th>
											<th>Action</th>								 
										</tr>
									</thead>
									<tbody>
										 
										<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
											
											<td>
												<span ng-if="requestList.url">{{ requestList.url }}</span>
												<span ng-if="requestList.host">{{ requestList.host }}</span>
											</td>
											<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
											<td><input class="btn btn-primary " type="button" name="Block" value="Block" ng-click="allowBlockUrl('blocked',requestList.url,requestList,'old')" ></td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<div id="sectionC" class="tab-pane fade" ng-class="{'in active': blockedActive}">
									<table class="table table-bordered" >
								<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successMessageContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
					<span ng-show="successMessageContainer" style="color:white;" role="alert">{{successMessage}}</span></th></tr>
							<tr class="table-heading">
								<th>Blocked url</th>
								<th>Blocked date</th>
								<th>Action</th>								 
							</tr>
						</thead>
						<tbody>
							 
							<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td>
									<span ng-if="requestList.url">{{ requestList.url }}</span>
									<span ng-if="requestList.host">{{ requestList.host }}</span>
								</td>
								<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
								<td><input class="btn btn-primary " type="button" name="Allow" value="Allow" ng-click="allowBlockUrl('allowed',requestList.url,requestList,'old')" ></td>
							</tr>
						</tbody>
								</table>
								</div>
							 
							</div>
						</div>
					</td>
				</tr>
				 
			</table>
				
		 
				 
			 
		</div>	
		
		<!-- Activity Monitor Container -->
		<div class="row" id="dependent_accesslog" ng-show="activityContainer">		         
					 
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a ng-click="initiateList()" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>
					</td>
				</tr>
				
				<tr>
					<td>
					<table class="table table-bordered" ">		
						<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
									<span ng-show="successReqContainer" style="color:white;display: block;" role="alert">{{successReqMessage}}</span></th></tr>
							
							<tr class="table-heading" align="center">
							<th colspan="3" style="text-align:center" >Dependent Activity Counter</th>
							</tr>
							<tr class="table-heading" >
								<th>Requested URL</th>
								<th>Blocked URL</th>
								<th>Allowed</th>								 
							</tr>
						</thead>
						
						<tbody >
							<tr  class="w2ui-odd color0">
								
								<td><span >{{numberRequested}}</span></td>
								<td ><span >{{numberBlocked}}</span></td>
								<td ><span >{{numberAllowed}}</span></td>
								
							</tr>
							
						</tbody>
					</table>
					</td>
				</tr>
				
				
				
				<tr>
					<td>
					<div class="bodyContainer">
					<!--<table class="table table-bordered" >		
						<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
									<span ng-show="successReqContainer" style="color:white;display: block;" role="alert">{{successReqMessage}}</span></th></tr>
				
							<tr class="table-heading" align="center">
							<th colspan="3" style="text-align:center" >Dependent Access Logs</th>
							</tr>
							<tr class="table-heading" >
								<th >URL</th>
								<th >Type</th>
								<th >Time</th>								 
							</tr>
						</thead>
						
						<tbody >
							<tr ng-repeat="requestList in dependentlog" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td ><span >{{ requestList.url }}</span></td>
								<td ><span >{{ requestList.type }}</span></td>
								<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
								
							</tr>
							<tr ng-if="dependentlog.length === 0" class="color0" ><td colspan="3" align="center" style="width:2%;text-align:center">No item found.</td></tr>
						</tbody>
					</table>-->
					<div class="row container-height-100 no-margin">
						<div class="col-xs-8 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>URL</strong></div>
						</div>
						<div class="col-xs-2 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>TYPE</strong></div>
						</div>
						<div class="col-xs-2 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>Time</strong></div>
						</div>
					</div>
					<div clas="row no-margin" style="overflow-y:auto ;height:300px !important">
						<div class="col-xs-12 no-padding container-height-100">
							<div class="row no-margin" style="height:38px;" ng-repeat="requestList in dependentlog" ng-class="'color'+($index % 2)">
								<div class="w2ui-odd col-xs-8 no-padding border-white table-height text-black"  >
									{{requestList.url}}
								</div>
								<div class="w2ui-odd col-xs-2 no-padding border-white table-height text-black"  >
									{{ requestList.type }}
								</div>
								<div class="w2ui-odd col-xs-2 no-padding border-white table-height text-black"  >
									{{ requestList.timestamp | limitTo:10 }}
								</div>
								
							</div>
							<div ng-if="dependentlog.length === 0" class="col-xs-12 no-padding  color0" style="width:100%;text-align:center">
							<div class="row no-margin" style="height:38px;" ng-class="'color'+($index % 2)">
								No item found.
							</div>
							</div>
						</div>
					</div>
					</div>
					</td>
				</tr>
			</table>
		</div>
		
		 		
		
		 <!-- The actual modal template, just a bit o bootstrap -->
		<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>{{dpName}}</span></h4>
				  </div>
					<div class="modal-body">
						<form id="dependentForm" method="post" name="dependentForm"  novalidate>	
							<div class="form-group">
								<div ng-show="errorMessageContaineruserModal" class="alert alert-danger" role="alert">{{errorMessageuserModal}}</div>
								<label  >Password</label>
								<input  class="modalInput" id="dependentPass" name="dependentPass" ng-model="dependentDetail.dependentPass" type="password" placeholder="secret token"    required  />		
							 
								<div style="text-align: center;color:red;" ng-show="dependentForm.dependentPass.$dirty && dependentForm.dependentPass.$invalid">
								<div ng-show="dependentForm.dependentPass.$error.required">Password is required.</div>
								</div>
								<input type="hidden"  class="modalInput" id="dpName" name="dpName" ng-model="dpName" /> 
								
							</div>								 
							<div class="form-group">
						 
								<input id="chkCldStatus" type="button" value="Submit" ng-click="dependentService(dependentForm.$valid,'/proxies/dependents')" class="modalInput" ng-disabled="dependentForm.$invalid"  />
							
							</div>
						</form>
					</div>
				   
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>Add Access Record</span></h4>
				  </div>
					<div class="modal-body">
						<form id="addRecordForm" method="post" name="addRecordForm"  novalidate>	
							<div class="form-group">
								<div ng-show="errorMessageContainerRecordModal" class="alert alert-danger" role="alert">{{errorMessageRecordModal}}</div>
								<label  >Enter URL</label>
								<input  class="modalInput" id="url" name="url" ng-model="dependentDetail.urlAllowBlock" type="url" placeholder="URL to be {{addRecordType}}"    required  />		
							 
								 
								<div style="text-align: center;color:red;"  ng-show="addRecordForm.url.$error.required && addRecordForm.url.$invalid">URL is required.</div>
								 
								<input type="hidden"  class="modalInput" id="dpName" name="dpName" ng-model="dpName" /> 
								
							</div>								 
							<div class="form-group">
						 
								<input id="chkCldStatus" type="button" value="Submit" ng-click="allowBlockUrl(addRecordType,dependentDetail.urlAllowBlock,'','new')" class="modalInput" ng-disabled="addRecordForm.$invalid"  />
							
							</div>
						</form>
					</div>
				   
				</div>
			</div>
		</div>
		
		
		
		
     </div>  
</div>
</div>
</div>
		<div ng-include="'angular/views/userFooter.html'"></div>
 