<div ng-include="'angular/views/userHeader.html'" ></div>
<div class="container">
<div class="dependentlist">
<div block-ui="main" class="block-ui-main">
	<div class="container"  >  
	
		<!-- List of dependent are shown here -->
		<div class="row" id="dependent_list" ng-show="dependentContainer">           
			<div class="col-md-12"> 
					 			
					
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a href="#userhome" class="btn btn-primary" style="margin-bottom: 10px;">Back</a>
					<a ng-click="addRecord('userHelp')" class="btn btn-primary" style="margin-bottom: 10px;float:right;">Help</a>
					</td>
				</tr>
				<tr>
					<td>
					<table class="table table-bordered" >
						<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
								<span ng-show="successReqContainer" style="color:white;" role="alert">{{successMessage}}</span></th></tr>
							<tr class="table-heading">
								<th style="text-align:center">Guardian name</th>
								<th style="text-align:center">Time</th>
								<th style="text-align:center">Proxy service</th>
							</tr>
						</thead>
						<tbody>
							<tr    class="w2ui-even color0" >
							 
								<td><span title="click here to see all requests"  >{{ guardianName }}</td>
								<td>{{ guardiandata.guardianTimeStarted}}</td>
								
								<td style="text-align:center"><input type="button" ng-click="startGuardian()" class="btn btn-primary  " name="action" id="'action_'+$index" value="Start" ng-hide="guardiandata.guardianTimeStarted" >
								<input ng-click="stopGuardian()" class="btn btn-primary  " type="button"  name="stop" id="'stop_'+$index" value="Stop" ng-show="guardiandata.guardianTimeStarted" >
								 
								</td>
							</tr>
							 
						</tbody>
					</table>
					<table class="table table-bordered" >
						<thead>
							<tr class="table-heading">
								<th style="text-align:center">Dependent name</th>
								<th style="text-align:center">Proxy HostName</th>
								<th style="text-align:center">Proxy Port</th>
								<th style="text-align:center">Proxy service</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dependentList in dependentData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
							 
								<td ng-show="dependentList.time_started"><span title="click here to see all requests" ng-click="enableTab('requestActive',dependentList.cloud_name)" style="text-decoration: underline;cursor: pointer;">{{ dependentList.cloud_name }}</td>
								<td ng-show="!dependentList.time_started"><span title="click here to see all requests"  >{{ dependentList.cloud_name }}</td>
								<td>{{ dependentList.hostname }}</td>
								<td>{{ dependentList.port }}</td>
								<td style="text-align:center"><input type="button" ng-click="show(dependentList)" class="btn btn-primary  " name="action" id="'action_'+$index" value="Start" ng-hide="dependentList.time_started" >
								<input ng-click="stopDependentService(dependentList,'/proxies/dependents')" class="btn btn-primary  " type="button"  name="stop" id="'stop_'+$index" value="Stop" ng-show="dependentList.time_started" >
								<input type="button" ng-click="activityMonitor(dependentList)" class="btn btn-primary  " name="action" id="'action_'+$index" value="Activity Monitor" >
								</td>
							</tr>
							<tr ng-if="dependentData.length === 0 || dependentData.length == undefined" class="color0" ><td colspan="4" align="center">No item found.</td></tr>
						</tbody>
					</table>
					
					</td>
					</tr>
					</table>
				
		 
				 
			</div>
		</div>	
		<!-- Requested list of dependent are shown here -->
		<div class="row" id="requested_List" ng-show="requestContainer">		         
			

			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a ng-click="initiateList()" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>&nbsp;&nbsp;
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary"  name="action" id="'action_'+$index" value="Add requested url" ng-show="requestActive" ng-disabled="true" >
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary"  name="action" id="'action_'+$index" value="Add allowed url" ng-show="allowedActive" >
					<input style="margin-bottom: 10px;" ng-click="addRecord('addRecordModal')" class="btn btn-primary" name="action" id="'action_'+$index" value="Add blocked url" ng-show="blockedActive" >
					</td>
				</tr>
				<tr>
					<td>
						<div class="bs-example">
							<ul class="nav nav-pills">
								<li   ng-class="{active: requestActive}"><a ng-click="enableTab('requestActive',user.selectedCloudName)">Requested Url</a></li>								
								<li ng-class="{active: allowedActive}"><a ng-click="enableTab('allowedActive',user.selectedCloudName)">Allowed Url</a></li>
								<li ng-class="{active: blockedActive}"><a ng-click="enableTab('blockedActive',user.selectedCloudName)">Blocked Url</a></li>
								 
							</ul>
					<div class="tab-content">
						<div id="sectionA" class="tab-pane fade" ng-class="{'in active': requestActive}">
							<table class="table table-bordered" >		
										<thead>
										<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
								<span ng-show="successReqContainer" style="color:white;" role="alert">{{successReqMessage}}</span></th></tr>
										<tr class="table-heading">
											<th>Requested url</th>
											<th>Requested date</th>
											<th>Action</th>								 
										</tr>
									</thead>
									<tbody>
										 
										<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
											
											<td>
												<span ng-if="requestList.url">{{ requestList.url }}</span>
												<span ng-if="requestList.host">{{ requestList.host }}</span>
											</td>
											<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
											<td><input class="btn btn-primary "   width="20%"  type="button" name="Allow" value="Allow" ng-click="allowBlockreqUrl('allowed',requestList.host)" >&nbsp;&nbsp;&nbsp;<input class="btn btn-primary " type="button" name="Block" value="Block" ng-click="allowBlockreqUrl('blocked',requestList.host)" ></td>
										</tr>
										<tr ng-if="requestData.length === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
									</tbody>
							</table>
						</div>
						
						<div id="sectionB" class="tab-pane fade" ng-class="{'in active': allowedActive}">						
							<table class="table table-bordered" >
									<thead>
										<tr class="table-heading" ng-show="errorMessageContainer || successMessageContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
								<span ng-show="successMessageContainer" style="color:white;" role="alert">{{successMessage}}</span></th></tr>
										<tr class="table-heading">
											<th>Allowed url</th>
											<th>Allowed date</th>
											<th>Action</th>								 
										</tr>
									</thead>
									<tbody>
										 
										<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
											
											<td>
												<span ng-if="requestList.url">{{ requestList.url }}</span>
												<span ng-if="requestList.host">{{ requestList.host }}</span>
											</td>
											<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
											<td><input class="btn btn-primary " type="button" name="Block" value="Block" ng-click="allowBlockUrl('blocked',requestList.url,requestList,'old')" ></td>
										</tr>
										<tr ng-if="requestData.length === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
									</tbody>
								</table>
							</div>
							
							<div id="sectionC" class="tab-pane fade" ng-class="{'in active': blockedActive}">
									<table class="table table-bordered" >
								<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successMessageContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
					<span ng-show="successMessageContainer" style="color:white;" role="alert">{{successMessage}}</span></th></tr>
							<tr class="table-heading">
								<th>Blocked url</th>
								<th>Blocked date</th>
								<th>Action</th>								 
							</tr>
						</thead>
						<tbody>
							 
							<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td>
									<span ng-if="requestList.url">{{ requestList.url }}</span>
									<span ng-if="requestList.host">{{ requestList.host }}</span>
								</td>
								<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
								<td><input class="btn btn-primary " type="button" name="Allow" value="Allow" ng-click="allowBlockUrl('allowed',requestList.url,requestList,'old')" ></td>
							</tr>
							<tr ng-if="requestData.length === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
						</tbody>
								</table>
								</div>
							 
							</div>
						</div>
					</td>
				</tr>
				 
			</table>
				
		 
				 
			 
		</div>	
		
		<!-- Activity Monitor Container -->
		<div class="row" id="dependent_accesslog" ng-show="activityContainer">		         
					 
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a ng-click="initiateList()" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>
					</td>
				</tr>
				
				<tr>
					<td>
					<table class="table table-bordered" ">		
						<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
									<span ng-show="successReqContainer" style="color:white;display: block;" role="alert">{{successReqMessage}}</span></th></tr>
							
							<tr class="table-heading" align="center">
							<th colspan="3" style="text-align:center" >Dependent Activity Counter</th>
							</tr>
							<tr class="table-heading" >
								<th>Requested URL</th>
								<th>Blocked URL</th>
								<th>Allowed</th>								 
							</tr>
						</thead>
						
						<tbody >
							<tr  class="w2ui-odd color0">
								
								<td><span >{{numberRequested}}</span></td>
								<td ><span >{{numberBlocked}}</span></td>
								<td ><span >{{numberAllowed}}</span></td>
								
							</tr>
							
						</tbody>
					</table>
					</td>
				</tr>
				
				
				
				<tr>
					<td>
					<div class="bodyContainer">
					<!--<table class="table table-bordered" >		
						<thead>
							<tr class="table-heading" ng-show="errorMessageContainer || successReqContainer" align="center"><th colspan="3" align="center" style="text-align:center"><span ng-show="errorMessageContainer" style="color:white;" role="alert">{{errorMessage}}</span>
									<span ng-show="successReqContainer" style="color:white;display: block;" role="alert">{{successReqMessage}}</span></th></tr>
				
							<tr class="table-heading" align="center">
							<th colspan="3" style="text-align:center" >Dependent Access Logs</th>
							</tr>
							<tr class="table-heading" >
								<th >URL</th>
								<th >Type</th>
								<th >Time</th>								 
							</tr>
						</thead>
						
						<tbody >
							<tr ng-repeat="requestList in dependentlog" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td ><span >{{ requestList.url }}</span></td>
								<td ><span >{{ requestList.type }}</span></td>
								<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
								
							</tr>
							<tr ng-if="dependentlog.length === 0" class="color0" ><td colspan="3" align="center" style="width:2%;text-align:center">No item found.</td></tr>
						</tbody>
					</table>-->
					<div class="row container-height-100 no-margin">
						<div class="col-xs-8 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>URL</strong></div>
						</div>
						<div class="col-xs-2 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>TYPE</strong></div>
						</div>
						<div class="col-xs-2 no-padding border-white bg-success table-height text-white">
							<div class="head-padding"><strong>Time</strong></div>
						</div>
					</div>
					<div clas="row no-margin" style="overflow-y:auto ;height:300px !important">
						<div class="col-xs-12 no-padding container-height-100">
							<div class="row no-margin" style="height:38px;" ng-repeat="requestList in dependentlog" ng-class="'color'+($index % 2)">
								<div class="w2ui-odd col-xs-8 no-padding border-white table-height text-black"  >
									{{requestList.url}}
								</div>
								<div class="w2ui-odd col-xs-2 no-padding border-white table-height text-black"  >
									{{ requestList.type }}
								</div>
								<div class="w2ui-odd col-xs-2 no-padding border-white table-height text-black"  >
									{{ requestList.timestamp | limitTo:10 }}
								</div>
								
							</div>
							<div ng-if="dependentlog.length === 0" class="col-xs-12 no-padding  color0" style="width:100%;text-align:center">
							<div class="row no-margin" style="height:38px;" ng-class="'color'+($index % 2)">
								No item found.
							</div>
							</div>
						</div>
					</div>
					</div>
					</td>
				</tr>
			</table>
		</div>
		
		 		
		
		 <!-- The actual modal template, just a bit o bootstrap -->
		<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>{{dpName}}</span></h4>
				  </div>
					<div class="modal-body">
						<form id="dependentForm" method="post" name="dependentDetail.dependentForm"  novalidate>	
							<div class="form-group">
								<div ng-show="errorMessageContaineruserModal" class="alert alert-danger" role="alert">{{errorMessageuserModal}}</div>
								<label  >Password</label>
								<input  class="modalInput" id="dependentPass" name="dependentPass" ng-model="dependentDetail.dependentPass" type="password" placeholder="secret token"    required  />		
							 
								<div style="text-align: center;color:red;" ng-show="dependentDetail.dependentForm.dependentPass.$dirty && dependentDetail.dependentForm.dependentPass.$error.required">Password is required.</div>
							  
								<input type="hidden"  class="modalInput" id="dpName" name="dpName" ng-model="dpName" /> 
								
							</div>								 
							<div class="form-group">
						 
								<input id="chkCldStatus" type="button" value="Submit" ng-click="dependentService(dependentDetail.dependentForm.$valid,'/proxies/dependents')" class="modalInput" ng-disabled="dependentDetail.dependentForm.$invalid"  />
							
							</div>
						</form>
					</div>
				   
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>Add Access Record</span></h4>
				  </div>
					<div class="modal-body">
						<form id="addRecordForm" method="post" name="dependentDetail.addRecordForm"  novalidate>	
							<div class="form-group">
								<div ng-show="errorMessageContainerRecordModal" class="alert alert-danger" role="alert">{{errorMessageRecordModal}}</div>
								<label  >Enter URL</label>
								<input  class="modalInput" id="url" name="url" ng-model="dependentDetail.urlAllowBlock" type="url" placeholder="URL to be {{addRecordType}} e.g. http://www.abc.com"    required  />		
							 
								 
								<div style="text-align: center;color:red;"  ng-show="dependentDetail.addRecordForm.url.$error.required && dependentDetail.addRecordForm.url.$dirty">URL is required.</div>
								 
								<input type="hidden"  class="modalInput" id="dpName" name="dpName" ng-model="dpName" /> 
								
							</div>								 
							<div class="form-group">
						 
								<input id="chkCldStatus" type="button" value="Submit" ng-click="allowBlockUrl(addRecordType,dependentDetail.urlAllowBlock,'','new')" class="modalInput" ng-disabled="dependentDetail.addRecordForm.$invalid"  />
							
							</div>
						</form>
					</div>
				   
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="userHelp"  tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog" style="width:80%;">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>Configuring proxy server</span></h4>
				  </div>
					<div class="modal-body">
						 	 <div property="content:encoded" class="field-item even"><h4>Which browser is best to use?</h4>
									<p>We have found that most browsers are compatible with the proxy server. Here are a few special considerations:</p>
									<ul><li>Mac Users - . Safari, Firefox and Chrome are all compatible with our proxy server.</li>
									<li>Windows Users - All popular browsers appear to work well with the proxy server including Internet Explorer, Firefox and Chrome.&nbsp; Chrome uses the Windows proxy server; the sames ones used by IE. DSL users may find the configuration more difficult in IE than in Netscape or Firefox but all will work.</li>
									<li>Many users find it convenient to configure one Web browser to use the proxy server which they will use to access Yale resources and leave another browser "unproxied" for all other Web applications.&nbsp; For the above reason, select Firefox and one of the other browsers to accomplish this.</li>
									</ul><p>&nbsp;</p>
									<h4>Configuring your Web Browser to use the Proxy Server</h4>
									
									<p>It is not possible to fully document all of the variations for every combination of OS version, browser version and connection configuration. That said, these configuration instructions should work for most everyone.</p>
									<h4>Configuring Mozilla Firefox (for both Windows &amp; Macs)</h4>
									
									<ul><li>Open your Web browser.</li>
									<li>For Windows: Under "Tools", select "Options"</li>
									<li>For Macs: Under "Firefox", select "Preferences".
									<ul><li>Select the "Advanced" category icon and then click on "Network" tab</li>
									<li>Click "Settings" next to "Connection: Configure how Firefox connects to the Internet"</li>
									<li>Select "Manual proxy configuration"</li>
									<li>Next to "HTTP Proxy" enter: proxy host name</li>
									<li>In the field labeld "Port:" enter: proxy port</li>
									<li>Enter the same server name and port address for "SSL Proxy"</li>
									<li>Click "OK" (or "apply" of the Mac) until you've closed all dialog boxes.</li>
									<li>The first page you go to after enabling the proxy will generatea dialog box requesting a User Name and Password. Enter your email address for username, and the password you received.</li>
									</ul></li>
									</ul><h4>Configuring Internet Explorer (for Windows Users)&nbsp;</h4>
									
									<ul><li>Open your browser. Under the 'Tools' menu, select 'Internet Options'</li>
									<li>Click on the 'Connections' Tab</li>
									<li>***IF CONNECTING THROUGH A DIALUP MODEM or SOLO DSL CONNECTION (i.e. no LAN, only one computer connected)<br> Under 'Dialup Settings', highlight the dialup networking profile you use for Internet access. Then click on the 'Settings' button to access options for that specific dialup session.</li>
									<li>***IF CONNECTING THROUGH CABLE MODEM, DSL ROUTER or LAN<br> Click on the box "LAN Settings...". then check the box next to 'Use a proxy server' in the 'Proxy Server' section</li>
									<li>Click on 'Advanced'</li>
									<li>Go to the box next to HTTP: in the column 'Proxy Address to Use' and type: proxy host name</li>
									<li>Go to the next space in the column labeled 'Port' and type: proxy port</li>
									<li>Enter the same server name and port number for "Secure"</li>
									<li>Click on 'OK' to save settings until all boxes are closed</li>
									<li>The first page you go to after enabling the proxy will generate a dialog box requesting a User Name and Password Enter your email address for username, and your proxy password.</li>
									</ul><h4><br>Configuring Safari</h4>
									
									<ul><li>Open Safari. Under the "Safari" tab select "Preferences".</li>
									<li>Select the "Advanced" category icon</li>
									<li>Next to "Proxies:" click on "Change Settings" (this will open the System Network Preferences)</li>
									<li>Make certain that the correct connection method is in the "Show" window (e.g. airport, built-in ethernet)</li>
									<li>Check the box next to "Web Proxy (HTTP)", then enter proxy host name in the first field and proxy port in the field labeled "Port".</li>
									<li>Do the same for "Secure Web Proxy (HTTPS)"</li>
									<li>Click "Apply" and then close all dialog boxes.</li>
									<li>The first page you go to after enabling the proxy will generate a dialog box requesting a User Name and Password. Enter your email address for username, and the password you received.</li>
									</ul>
									<h4><br>Configuring Chrome</h4>
									 <p>Google Chrome uses your computer's system proxy settings to connect to the network. Changing these settings will affect Google Chrome as well as other programs that connects to the Internet.</p>
									<p>To set up or change network connections, follow these steps:</p>
									<ul>
										<li>Click the Chrome menu on the browser toolbar.</li>
										<li>Select <strong>Settings</strong>.</li>
										<li>Click <strong>Show advanced settings</strong>.</li>
										<li>In the "Network" section, click <strong>Change proxy settings </strong>. This will open the Internet Properties dialog (Windows) or the Network dialog (Mac) where you can adjust your network settings.</li>
									</ul>
									  
									</div>
						 
					</div>
				   
				</div>
			</div>
		</div>
		
		
     </div>  
</div>
</div>
</div>
		<div ng-include="'angular/views/userFooter.html'"></div>
 