		<!--footer>
			<div class="row-fluid">
				<div class="cspMain ">YOUR CLOUD SERVICE PROVIDER | <img src="images/respect-network-logo.png"> &nbsp;
				</div>
			</div>
		</footer>
		<div id="footer" class="container">
		 <div style="vertical-align:bottom;" >
            <p class="text-muted" style="text-align:right;">YOUR CLOUD SERVICE PROVIDER | <img src="images/respect-network-logo.png"> &nbsp;
				</p>
			</div>
		</div-->
		<div id="footer" style="width:100%;position:fixed;bottom:0;left:0;clear:both">
		  
			<div style="vertical-align:bottom;" >
            <p class="text-muted" style="text-align:right;"><img src="images/Cynja-logo_300x150.png" width="15%"> &nbsp;
				</p>
			</div>
		  
		</div>