<div ng-include="'angular/views/userHeader.html'" ></div>
<div class="container">
<div class="dependentlist">
<div block-ui="main" class="block-ui-main">
	<div class="container"  >  

		
		<div class="row" id="add_dependent" ng-show="addDependentContainer">
			
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a href="#userhome" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>&nbsp;&nbsp;					
					<input style="margin-bottom: 10px;" ng-click="addRecord('addDependent')" class="btn btn-primary"   name="action" id="'action_'+$index" value="Add dependent"  >
					</td>
					
				</tr>
				<tr>
					<td>
						 
						<table class="table table-bordered"  >
						<thead>
							<tr class="table-heading" ng-show="successMessageContainerAddDep"  align="center"><th colspan="3" align="center" style="text-align:center;">
					<span  style="color:white;font-weight:bold;" role="alert">{{successMessageAddDep}}</span></th></tr>
							<tr class="table-heading">
								<th>Dependent</th>
								<th>Date Created</th>
															 
							</tr>
						</thead>
						<tbody>
							 <tr class="color0">
								<td>
									<span >=testDepdendent1</span>
									
								</td>
								<td><span >03/01/15</span></td>
							 </tr>
							 <tr class="color1">
								<td>
									<span >=testDepdendent2</span>
									
								</td>
								<td><span >03/02/15</span></td>
							 </tr>
							 <tr class="color0">
								<td>
									<span >=testDepdendent3</span>
									
								</td>
								<td><span >04/02/15</span></td>
							 </tr>
							<tr ng-repeat="requestList in requestData" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td>
									<span ng-if="requestList.url">{{ requestList.url }}</span>
									<span ng-if="requestList.host">{{ requestList.host }}</span>
								</td>
								<td ><span >{{ requestList.timestamp | limitTo:10 }}</span></td>
								<td><input class="graybuttonSmall" type="button" name="Allow" value="Allow" ng-click="allowBlockUrl('allowed',requestList.url,requestList)" ></td>
							</tr>
							<tr  ng-if="requestList.totalrow === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
						</tbody>
					</table>
				</td>
				</tr>
			</table>
		</div>	
		
		
				<div class="modal fade" id="addDependent" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>Add Dependent Cloud Name</span></h4>
				  </div>
				<div class="modal-body">
					<div id="addDepCloudFirst" ng-show="addDepCloudFirstContainer">
						<form id="addDependentForm" method="post" name="addDependentForm"  novalidate>	
							<div ng-show="errorMessageContainerAddDep" class="alert alert-danger" role="alert">{{errorMessageAddDep}}</div>
							
							<div class="form-group">
								<label  >Dependent Cloud Name:</label>
								<input class="modalInput" id="depCloudName" name="depCloudName" ng-model="addDepedent.depCloudName" type="text" placeholder="=dependent" ng-change="appendSign()" ng-blur="cloudCheckDep(addDepedent.depCloudName)" required/>
								<div style="text-align: center;color:red;" ng-show="addDependentForm.depCloudName.$dirty && addDependentForm.depCloudName.$invalid">
								<span ng-show="addDependentForm.depCloudName.$error.required">Dependent Cloud Name is required.</span>
								</div>
								<div style="text-align: center;color:red" ng-show="errorMessageContainerAddDep && addDependentForm.depCloudName.$valid" role="alert">{{errorMessageAddDepModal}}</div>
								<div style="text-align: center;color:green" ng-show="successMessageContainerAddDep && addDependentForm.depCloudName.$valid" role="alert">{{successMessageAddDepModal}}</div>	
								<label  >Password:</label>
								<input type="password" class="modalInput"  id="depCloudpass" name="depCloudpass" ng-model="addDepedent.depCloudpass"  placeholder="password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
								<span style="color:red;" ng-show="!addDependentForm.depCloudpass.$error.required && (addDependentForm.depCloudpass.$error.minlength || addDependentForm.depCloudpass.$error.maxlength) && addDependentForm.depCloudpass.$dirty">Passwords must be between 8 and 20 characters.</span>
								<span style="color:red;" ng-show="!addDependentForm.depCloudpass.$error.required && !addDependentForm.depCloudpass.$error.minlength && !addDependentForm.depCloudpass.$error.maxlength && addDependentForm.depCloudpass.$error.pattern && addDependentForm.depCloudpass.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
								<input type="password" class="modalInput"  id="depCloudconfPass" name="depCloudconfPass" ng-model="addDepedent.depCloudconfPass"  placeholder="Confirm Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
								<label  >Dependent Date of Birth:</label>
								
								<div data-ng-controller="AppCtrl">
									<input   id="datepicker"  data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="addDepedent.depCloudDOB" >
								</div>
							</div>
							<div class="checkbox-four">									
									<input type="checkbox" id="I_AgreeAddDep" name="I_Agree1" value="CSP" ng-model="addDepedent.I_AgreeAddDep" required>
									
							</div>
							<div class="checkbox-one"><p class="paraAddDep">I agree to CSP terms of service</p></div>
							<div class="form-group">
							
								<input id="chkCldStatus" type="button" value="Submit" ng-click="getPaymentID(addDependentForm.$valid,'csp/+testcsp/clouds/personalClouds',$event,'stripe')" class="modalInput"  ng-disabled="!addDependentForm.$valid || !(addDepedent.I_AgreeAddDep)" />
							
							</div>
						</form>
					</div>
					
					<div id="addDepCloudPay" ng-show="addDepCloudPayContainer">
						<form id="depPaymentDetailForm" method="post" name="depPaymentDetailForm"  novalidate>
						 
									<div class="row">
										<h4>Enter Payment Detail</h4>
									</div>									 
									<div ng-show="errorPaymentContainer" class="alert alert-danger" role="alert">{{errorPaymentMessage}}</div>
									<div class="form-group" >
										<input type="text" class="modalInput"   id="emailpayment" name="emailpayment" placeholder="email"  style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									 
									<div  class="form-group" >
										<input type="tel" class="modalInput"  id="cardNumber" name="cardNumber" placeholder="card number"   style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div  class="form-group" >
										<input type="text"  class="modalInput"  id="cardExpDate" name="cardExpDate" placeholder="expiry date"    style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div  class="form-group" >
										<input type="text" class="modalInput"   id="cardCVC" name="cardCVC" placeholder="cvc number"  style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div class="form-group">
									<input type="button" value="Pay $10" ng-click="submitDepPayCloud()" class="modalInput"  style=" vertical-align: middle;"/>	
									</div>									
									 
								</form>
						</div>
				   
				   </div>
				</div>
			</div>
		</div>
		
	</div>  
</div>
</div>
</div>
		<div ng-include="'angular/views/userFooter.html'"></div>