<div ng-include="'angular/views/userHeader.html'" ></div>
<div class="container">
<div class="dependentlist">
<div block-ui="main" class="block-ui-main">
	<div class="container"  >  

		
		<div class="row" id="add_dependent" ng-show="addDependentContainer">
			
			<table   style="margin-top:100px;max-width: 100%;width: 100%;">
				<tr>
					<td><a href="#userhome" class="btn btn-primary " style="margin-bottom: 10px;">Back</a>&nbsp;&nbsp;					
					<input style="margin-bottom: 10px;" ng-click="addRecord('addDependent')" class="btn btn-primary"   name="action" id="'action_'+$index" value="Add Dependent"  >
					</td>
					
				</tr>
				<tr>
					<td>
						 
						<table class="table table-bordered"  >
						<thead>
							<tr class="table-heading" ng-show="successMessageContainerAddDep"  align="center"><th colspan="3" align="center" style="text-align:center;">
							<span  style="color:white;font-weight:bold;" role="alert">{{successMessageAddDep}}</span></th></tr>
							<tr class="table-heading">
								<th>Cloud Name</th>
								<th>DOB</th>
															 
							</tr>
						</thead>
					
						<tbody>
							<tr ng-repeat="deplist in dependentcloudlist" ng-class="'color'+($index % 2)"  class="w2ui-odd " >
								
								<td><span >{{ deplist.cloudName}}</span></td>
								<td ><span >{{ deplist.dateOfBirth }}</span></td>					 
							</tr>
							<tr  ng-if="dependentcloudlist.length === 0" class="color0" ><td colspan="3" align="center">No item found.</td></tr>
						</tbody>
							 
					</table>
				</td>
				</tr>
			</table>
		</div>	
		
		
		<div class="modal fade" id="addDependent" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header" style="background-image: linear-gradient(#f9f9f9, #e4e4e4);">
					<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><span>Add Dependent Cloud Name</span></h4>
				  </div>
				<div class="modal-body">
					<div id="addDepCloudFirst" ng-show="addDepCloudFirstContainer">
						<form id="addDependentForm" method="post" name="addDependentForm"  novalidate>	
							<div ng-show="errorMessageContainerAddDep" style="text-align: center;color:red" role="alert">{{errorMessageAddDep}}</div>
							<div ng-show="successMessageContainerAddDep" style="text-align: center;color:green" role="alert">{{successMessageAddDep}}</div>
							 
								<div  class=" form-group required" ng-class="{'hasError': user.hasErrorCond}"  show-errors>
								<label  >Cloud Name:</label>
								<input class="modalInput" id="depCloudName" name="depCloudName" ng-model="addDepedent.depCloudName" type="text" placeholder="=dependent" ng-change="appendSign()" ng-blur="cloudCheckDep(addDepedent.depCloudName)" required/>
								<div  id="depCloudName" style="text-align: center;color:red" class="help-block" ng-show="addDependentForm.depCloudName.$error.required">Cloud Name Is Required.</div>
								</div>
								
							<div  class=" form-group required" ng-class="{'hasError': user.hasErrorCond}"  show-errors>
								<label  >Password:</label>
								<input type="password" class="modalInput"  id="depCloudpass" name="depCloudpass" ng-model="addDepedent.depCloudpass"  placeholder="Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
								<div  id="depCloudpass" style="text-align: center;color:red" class="help-block" ng-show="addDependentForm.depCloudpass.$error.required">Password Is Required.</div>
								<div style="color:red;" ng-show="!addDependentForm.depCloudpass.$error.required && (addDependentForm.depCloudpass.$error.minlength || addDependentForm.depCloudpass.$error.maxlength) && addDependentForm.depCloudpass.$dirty">Passwords Must Be Between 8 And 20 Characters.</div>
								<div style="color:red;" ng-show="!addDependentForm.depCloudpass.$error.required && !addDependentForm.depCloudpass.$error.minlength && !addDependentForm.depCloudpass.$error.maxlength && addDependentForm.depCloudpass.$error.pattern && addDependentForm.depCloudpass.$dirty">Must Contain One Lower &amp; Uppercase Letter, And One Non-alpha Character (a number or a symbol.)</div>
							</div>		
								
							<div  class=" form-group required" ng-class="{'hasError': user.hasErrorCond}"  show-errors>	
								<input type="password" class="modalInput"  id="depCloudconfPass" name="depCloudconfPass" ng-model="addDepedent.depCloudconfPass"  placeholder="Confirm Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
								<div  id="depCloudconfPass" style="text-align: center;color:red" class="help-block" ng-show="addDependentForm.depCloudconfPass.$error.required">Confirm Password Is Required.</div>
								<div style="color:red;" ng-show="addDependentForm.depCloudconfPass.$error.pattern && addDependentForm.depCloudconfPass.$dirty">Must Contain One Lower &amp; Uppercase Letter, And One Non-alpha Character (a number or a symbol.)</div>
							</div>	
								
							<div  class=" form-group required" ng-class="{'hasError': user.hasErrorCond}"  show-errors>	
								<label  >Date Of Birth:</label>
								<div >
									<input   id="depCloudDOB"  name="depCloudDOB" data-ng-datepicker data-ng-options="datepickerOptions"  ng-model="addDepedent.depCloudDOB" placeholder="e.g:mm/dd/yyyy"	required>
									
									<div  id="datepickerError" style="text-align: center;color:red" class="help-block" ng-show="addDependentForm.depCloudDOB.$error.required">Date Of Birth Is Required.</div>
								</div>
							</div>	
						 
							
							<div  class=" form-group required" ng-class="{'hasError': user.hasErrorCond}"  show-errors>	
							<div class="checkbox-four">									
									<input type="checkbox" id="I_AgreeAddDep" name="I_AgreeAddDep" value="CSP" ng-model="addDepedent.I_AgreeAddDep" required>
									
							</div>
							<div class="checkbox-one"><p class="paraAddDep">I Agree To CSP <a href="http://thecynja.com/">Terms Of Service<a></p></div>
							<p  id="I_AgreeAddDep" style="text-align: center;color:red;width:100%" class="help-block" ng-show="addDependentForm.I_AgreeAddDep.$error.required">Please Agree With Terms And Condition.
							</p>
							</div>
							<div class="form-group">
									<input id="chkCldStatus" type="button" value="Submit" ng-click="getPaymentID(addDependentForm.$valid,'csp/'+cspName+'/clouds/personalClouds',$event,'stripe')" class="modalInput"   />
							</div>
						</form>
					</div>
					
					<div id="addDepCloudPay" ng-show="addDepCloudPayContainer">
						<form id="depPaymentDetailForm" method="post" name="depPaymentDetailForm"  novalidate>
						 
									<div class="row">
										<h4>Enter Payment Detail</h4>
									</div>									 
									<div ng-show="errorPaymentContainer" class="alert alert-danger" role="alert">{{errorPaymentMessage}}</div>
									<div class="form-group" >
										<input type="text" class="modalInput"   id="emailpayment" name="emailpayment" placeholder="email"  style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									 
									<div  class="form-group" >
										<input type="tel" class="modalInput"  id="cardNumber" name="cardNumber" placeholder="card number"   style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div  class="form-group" >
										<input type="text"  class="modalInput"  id="cardExpDate" name="cardExpDate" placeholder="expiry date"    style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div  class="form-group" >
										<input type="text" class="modalInput"   id="cardCVC" name="cardCVC" placeholder="cvc number"  style=" border: 1px solid #DCDCDC;" readonly />
										 
									</div>
									<div class="form-group">
									<input type="button" value="Pay $10" ng-click="submitDepPayCloud()" class="modalInput"  style=" vertical-align: middle;"/>	
									</div>									
									 
								</form>
						</div>
				   
				   </div>
				</div>
			</div>
		</div>
		
	</div>  
</div>
</div>
</div>
		<div ng-include="'angular/views/userFooter.html'"></div>