<div block-ui="main" class="block-ui-main">
<div class="registrationrow space">

		<div class="col-md-12">
				<div class="registration-container" style="" ng-show="registrationcontainer">
						<div class="row step2">
							<nav class="header-shadow">
								<ul>
									<li><a href="#home">Login</a></li>
									<li><a href="#registration">Registration</a></li>
									<li><a href="javascript:void(0)">Help</a></li>
								</ul>	
							</nav>
				<div class="row" id="cloudAvaliable" ng-show="cloudAvalContainer">					 
					<form id="cloudAvailForm" method="post" name="cloudAvailForm"  novalidate>			
						<h3>Choose Your Cloud Name:</h3>
							<div class="col-md-12">
								<div class="form-group" >
									<input id="cloudName" name="cloudName" ng-model="user.cloudName" type="text" placeholder="=you..." ng-change="cloudCheck('clouds/personalClouds/'+user.cloudName+'/available')"  required/>
									<div style="text-align: center;color:red;" ng-show="cloudAvailForm.cloudName.$dirty && cloudAvailForm.cloudName.$invalid">
									<div ng-show="cloudAvailForm.cloudName.$error.required">Cloud Name is required.</div>
									</div>
									<div style="text-align: center;color:red" ng-show="errorMessageContainer && cloudAvailForm.cloudName.$valid" role="alert">{{errorMessage}}</div>
									<div style="text-align: center;color:green" ng-show="successMessageContainer && cloudAvailForm.cloudName.$valid" role="alert">{{successMessage}}</div>	
								</div>
								<div style="text-align:center;" for="example_name">e.g: =jane,=john</div>
								<div class="form-group">
								<!--input id="chkCldStatus" type="submit" value="Submit" ng-click='submitForm(cloudAvailForm.$valid)' class="btn" ng-disabled="error" /-->
								<input id="chkCldStatus" type="submit" value="Submit" ng-click='submitForm(cloudAvailForm.$valid)' class="btn" ng-disabled="error"  />
								
								</div>
							</div>
					</form>
				</div>	
				<div class="row" id="cloudUserDetail" ng-show="userDetailContainer">
				
							<form id="userDetailForm" method="post" name="userDetailForm" ng-submit="submitUserInfo(userDetailForm.$valid,'codes/generate')" novalidate >			
							<h1 >Registration Details</h1>
								<div class="col-md-12">
									<div class="row" class="form-group required">
										<input type="email" class="userEmail" id="userEmail" name="userEmail" placeholder="Email Address" ng-model="user.userEmail" required/>
									   <span style="color:red;" ng-show="userDetailForm.userEmail.$error.required && userDetailForm.userEmail.$dirty">required</span>
									   <span style="color:red;" ng-show="!userDetailForm.userEmail.$error.required && userDetailForm.userEmail.$error.userEmail && userDetailForm.userEmail.$dirty">invalid email</span>
									</div>
									<div class="row" class="form-group">
										<input type="text" id="userTel"  name="userTel"  placeholder="+91 988XXXXXXX" ng-model="user.userTel" required/>
										<span style="color:red;" ng-show="userDetailForm.userTel.$error.required && userDetailForm.userTel.$dirty">required</span>
									</div>
									<div class="row" class="form-group">
										<input type="password" id="password"  name="password"  placeholder="Password" ng-model="user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
										<span style="color:red;" ng-show="userDetailForm.password.$error.required && userDetailForm.password.$dirty">required</span>
										<span style="color:red;" ng-show="!userDetailForm.password.$error.required && (userDetailForm.password.$error.minlength || userDetailForm.password.$error.maxlength) && userDetailForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
										<span style="color:red;" ng-show="!userDetailForm.password.$error.required && !userDetailForm.password.$error.minlength && !userDetailForm.password.$error.maxlength && userDetailForm.password.$error.pattern && userDetailForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
									</div>
									<div class="row" class="form-group">
										<input type="password" id="password_c"  name="password_c"  ng-model="user.password_c" placeholder="Confirm Password"  required="true" />
										<span ng-show="userDetailForm.password_c.$error.required && userDetailForm.password_c.$dirty">Please confirm your password.</span>
										<span ng-show="!userDetailForm.password_c.$error.required && userDetailForm.password_c.$error.noMatch && userDetailForm.password.$dirty">Passwords do not match.</span>
									</div>
									
									<div style="text-align: center;color:red" ng-show="errorMessageContainer && cloudAvailForm.cloudName.$valid" role="alert">{{errorMessage}}</div>
									
									<div class="row" class="form-group">
									<input  type="submit" value="Submit" class="btn"  ng-disabled="!userDetailForm.$valid"/>
									</div>
								</div>
							</form>
				</div>
				<div class="row" id="validUserCode" ng-show="validUserContainer">
							<form id="validateUserForm" method="post" name="validateUserForm"  novalidate>
							<div class="verify">
								    <div class="col-md-12">	
									<div class="row">
										<h4>Enter Verification Code sent to your email and Mobile</h4>
									</div>
									<div class="row" class="form-group">
										<input type="text" id="emailCode" name="emailCode" placeholder="email code"  ng-model="user.emailCode" required/>
										<span style="color:red;" ng-show="validateUserForm.emailCode.$error.required && validateUserForm.emailCode.$dirty">required</span>
									</div>	
									<div class="row">
										<center><label>Sent to: {{user.userEmail}}</label></center>
									</div>	
									<div class="row" class="form-group">
										<input type="phoneCode" id="phoneCode" name="phoneCode" placeholder="phone code"  ng-model="user.phoneCode" required>
										<span style="color:red;" ng-show="validateUserForm.phoneCode.$error.required && validateUserForm.phoneCode.$dirty">required</span>
									</div>
									<div class="row">
										<center><label>Sent to: {{user.userTel}}</label></center>
									</div>
									<div style="text-align: center;color:red" ng-show="errorMessageContainer && cloudAvailForm.cloudName.$valid" role="alert">{{errorMessage}}</div> 
										<div class="checkbox">									
										<input type="checkbox" id="I_Agree" name="I_Agree" ng-model="user.I_Agree" value="CSP" required></div><div class="checkbox-one"><p>I agree to CSP trust framework and one person one account rule</p></div>
									
									
									<input id="verifyCodes" type="button" value="Verify" ng-click="validatesCodes(validateUserForm.$valid,'codes/validate')" class="grad pull-left checkbox-three" ng-disabled="!validateUserForm.$valid || !(user.I_Agree)"/>
									<input type="button" value="Send New Codes" ng-click="submitUserInfo(userDetailForm.$valid,'codes/generate')" class="grad pull-right checkbox-three"/>											
									</div>
								</div>
								</form>
				</div>
				<div class="row" id="paymentMode" ng-show="paymentContainer">
				<form id="paymentModeForm" method="post" name="paymentModeForm"  novalidate>
					<div class="col-md-12" >
						<div class="paymentName-container">
							<div class="row">
								<h3>Select Your Payment method</h3>
									<input type="radio" name="paymentOption" value="Gift Code" disabled='disabled'> <input type="text" placeholder="Gift Code Coming Soon" required="true" readonly/><br>
									<input type="radio" name="paymentOption" value="Credit Card">Credit Card<br>
									<center><b>Life Hosting + Lifetime Connection</b></center><br>
									<center><b>=$25</b></center><br>
									<div class="checkbox-four">									
									<input type="checkbox" id="I_Agree1" name="I_Agree1" value="CSP" ng-model="I_Agree1" required>
									
									</div>
									<div class="checkbox-one"><p class="para">I agree to CSP terms of service</p></div>
									<span style="color:red;" ng-show="paymentModeForm.I_Agree1.$error.required && paymentModeForm.I_Agree1.$dirty">required</span>
									<center><input type="button" value="Submit" ng-click="getPaymentID(paymentModeForm.$valid,'products/PCN/payments')" class="grad" ng-disabled="!(I_Agree1)" /></center>
							</div>	
						</div>
					</div>
				</form>
				</div>
			</div>	
		</div>
		<div class="row" id="Congratulation" ng-show="CongratulationContainer"><p id="para1">Congratulation your cloud name {{user.cloudName}} has been registered <a href="#home">Click Here</a> to login.</p></div>
	</div>	
</div>
</div>		 
  