<div ng-include="'angular/views/userHeader.html'" ></div>
<div class="container">
<div class="userhome">
 <!-- Heading Row -->
        <div class="row">
            <div class="hot-line"><h2>Welcome to the Future Of Personal Data</h2></div>
            <div class="col-md-7">
                <img src="images/home/cloud.png" class="img-responsive img-rounded image" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-5">
                <h1>Why Personal Cloud</h1>
                <p class="justify">Personal cloud  is the individual’s collection of digital content, services and apps which are seamlessly accessible across any device.The personal cloud is not a tangible entity, but rather the realization of four different types of experience in which users store, synchronize,stream and share content on a contextual basis, moving from one platform, screen and location to another.Founded on interconnected services and applications, it both reflects and sets consumers’ expectations for how next-generation computing services will work.</p>
                <a class="btn btn-primary btn-lg" href="#">Read More</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="services-tagline text-center">
                    Our Services
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="circle">
                    <i class="glyphicon glyphicon-user"></i>
                    <h5><a href="#addDependent">Dependents</a></h5>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="circle">
                    <i class="glyphicon glyphicon-cloud"></i>
                    <h5><a href="">Cloud Names</a></h5>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="circle">
                    <i class="glyphicon glyphicon-lock"></i>
                    <h5><a href="#guardianProxy">Proxy Services</a></h5>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
		</div>
		</div>
		<div ng-include="'angular/views/userFooter.html'"></div>
        <!-- /.row -->