  <!--footer>
            
                <div class="col-lg-12">
                    <span style="text-align=right";>YOUR CLOUD SERVICE PROVIDER | <img src="images/home/csp_footer.png"></span>
                </div>
            
        </footer-->		
<div id="footer" class="container">
   <nav class="navbar navbar-default navbar-fixed-bottom">
        <div style="vertical-align:bottom;" >
            <p class="text-muted" style="text-align:right;">YOUR CLOUD SERVICE PROVIDER | <img src="images/home/csp_footer.png"></p>
        </div>
  </nav>
</div>