<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 <beans:import resource="resources.xml"/>
   <context:component-scan base-package="biz.neustar.pc.ui.controller" />
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler />
    <beans:bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
            <beans:list>
                <beans:value>classpath:pcloud.default.properties</beans:value>
              <!--   <beans:value>classpath:csp.${csp.env}.properties</beans:value>
                <beans:value>classpath:db.${csp.env}.properties</beans:value> -->
            </beans:list>
        </beans:property>
        <beans:property name="ignoreResourceNotFound"
            value="true" />
        <beans:property name="ignoreUnresolvablePlaceholders"
            value="false" />
    </beans:bean>
    <beans:bean id="templateResolver"
        class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <beans:property name="prefix" value="/angular/views/" />
        <beans:property name="suffix" value=".html" />
        <beans:property name="templateMode" value="HTML5" />
    </beans:bean>

    <beans:bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <beans:property name="templateResolver" ref="templateResolver" />

        <beans:property name="additionalDialects">
            <beans:set>
                <beans:bean class="nz.net.ultraq.thymeleaf.LayoutDialect"/>
            </beans:set>
        </beans:property>
    </beans:bean>

    <beans:bean class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
        <beans:property name="templateEngine" ref="templateEngine" />
    </beans:bean>
    <beans:bean id="pcRestClient" class="biz.neustar.pcloud.PCRestClientFactory" factory-method="createRestClient" >
        <beans:constructor-arg  name="baseUrl" value="${pcloud.csp.baseUrl}" />
        <beans:constructor-arg  name="authUrl" value="${pcloud.csp.authUrl}" />
        <beans:constructor-arg  name="userName" value="${pcloud.csp.cspUserName}" />
        <beans:constructor-arg  name="password" value="${pcloud.csp.password}" />
    </beans:bean>
    <beans:bean class="biz.neustar.pc.ui.manager.impl.PaymentManagerImpl">
      <beans:constructor-arg name="pcRestClient" ref="pcRestClient"/>
    </beans:bean>
 <!--   <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <beans:property name="prefix" value="/angular/views/" />
      <beans:property name="suffix" value=".html" />
   </beans:bean> -->

</beans:beans>